ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #34623F;
    font-family:Verdana;
    font-size: 19px
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

li a:hover {
    background-color: lightgrey;
    }
body{
      background: url(images/bg.jpg) no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      font-family: verdana, geneva, sans-serif;
    }
h1{
    text-align: center;
    font-family:Verdana,Geneva, sans-serif;
    }
#h01{
      color:lightgrey  #34623F
    }
th,td{
      padding:40px;
      text-align: center;
      font-size: 19px
    }
 table{
    background-color: #6d7275;
    background-size: contain;
    }
dt,dd{
  text-align: center;
}
.img01{
  width: 350px;
  height:400px;
}
#h02{
  text-align: center;
}
